.row {
  margin-top: 3rem !important;
}

p {
  font-size: 16pt!important;
  font: Roboto !important;
}

h2 {
  font-size: 30pt!important; 
  color: #ff0000 !important; 
  font-weight: bold !important;
  font: Roboto !important;
}

h4 {
  font-size: 22pt!important; 
  color: #ff0000 !important; 
  font-weight: bold !important;
  font: Roboto !important;
}

.observ-number {
  font-size: 40pt!important; 
  color: #ff0000 !important; 
  font-weight: bold !important;
  font: Roboto !important;
}

ul li {
  list-style-position: inside;
}